.container {
  background-color: #f4f6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
}

.container input {
  padding: 3px;
}

.container button {
  padding: 0.3rem;
}
