#profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#profile-form input {
  padding: 0.8rem;
  border: 1px solid #cdc9c9;
  outline-color: #3fa2f6;
  color: #cdc9c9;
}

#profile-form button {
  padding: 1rem;
  margin: 1rem 0;
  border: none;
}

@media (min-width: 800px) {
  #profile-form {
    padding: 0 12rem;
    font-size: 1.5rem;
  }

  #profile-form button {
    font-size: 1.5rem;
    background-color: rgb(150, 199, 241);
    color: #fff;
  }

  #profile-form input {
    padding: 1.2rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  #profile-form {
    padding: 0 18rem;
  }
}

@media (min-width: 1800px) {
  #profile-form {
    padding: 0 30rem;
  }
}
