:root {
  --primaryColor: #f4f6ff;
}

#headerContainer {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#greetingTxt {
  font-size: 12px;
}

#userName {
  font-size: 17px;
}

.profile-img {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 800px) {
  #greetingTxt {
    font-size: 1.8rem;
  }

  #userName {
    font-size: 2.2rem;
  }

  .profile-img {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 1rem;
  }
}
